button{
    background-color: darkslateblue;
    color: #fff;
    height: 2rem;
    border-radius: 10px;
}
.count{
    height: 10rem;
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}